<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ML | API-Rest</title>
  </head>
  <body>
    <header>
      
    </header>
    <main>
        <h1>API Rest Mercado Libre</h1>
        <h2>En esta API puede consultar lo siguiente:</h2>
        <ul>
          <li>
            Filtrar productos por query: <strong>/api/items?q=:query</strong>
          </li>
          <li>
            Obtener información de un producto especifico: <strong>/api/items/:id</strong>
          </li>
        </ul>
    </main>
  </body>
</html>