.product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);

  & > figure {
    max-width: 680px;
    max-height: 680px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 11;
    border-radius: 4px;
    margin: 2rem 0 0 2rem;

    @media (min-width: 600px) {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  .detail {
    margin: 2rem;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 11;

    @media (min-width: 600px) {
      grid-row-start: 1;
      grid-column-start: 7;
      grid-column-end: 11;
    }

    & > small {
      font-size: 0.88rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
      color: #333;
      margin: 1rem 0 2rem 0;
      font-size: 1.5rem;
      font-weight: 800;
    }

    h2 {
      font-size: 2.9rem;
      margin-bottom: 2rem;
      color: #333;

      span {
        margin-right: 0.5rem;
        font-size: 2.7rem;
        font-family: sans-serif;
      }

      sup {
        font-size: 1.3rem;
      }
    }
  }

  .description {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 10;
    margin: 2rem;

    & > h2 {
      font-size: 1.75rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    & > p {
      margin-bottom: 0.5rem;
      font-family: sans-serif;
      font-size: 1rem;
    }
  }

  .button {
    border-color: #3483FA;
    background-color: #3483fa;
    color: #fefefe;
    padding: .6rem 0;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    width: 100%;
    font-size: 1.1rem;
    height: 43px;
  }
}