@import '~antd/dist/antd.css';

.custom-layout {

  .custom-header {
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;

    .custom-tooltip {
      color : #fff;
      margin: 8px;
    }
    
    .icon-search {
      @media (min-width: 360px) {
        margin-right: 6%;
      }  
      @media (min-width: 500px) {
        margin-right: 0;
      }       
    }

    .ant-row {
      width: 100%;

      .ant-col {
        
        .aling-search {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          .ant-input {
            font-size: 1.063rem;
          }
          .ant-input-search, .ant-input:hover, .ant-input-search, .ant-input:focus, .ant-btn:hover, .ant-btn:focus {
            border-color: #d9d9d9;
            box-shadow: 0 0 0 0px #0b2a4633;
          }
          .ant-btn {
            background-color: #eeeeee;
          }
        }

        .custom-logo-container {
          width           : 200px;
          height          : 64px;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .custom-logo {
            background-color: inherit;
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
