@import '~antd/dist/antd.css';

body {
  font-family: "Nunito",apple-system,Helvetica,Roboto,Arial,sans-serif,sans-serif;
}

.custom-loading-row {
  text-align: center;

  .custom-loading-col{

    .custom-loading-spin {
      position: fixed;
      top: 280px;
    }
  }
}

.site-layout-content {
  min-height: 380px;
  // padding: 24px;
  background: #fff;
}

.ant-layout-header {
  background-color: $primary-color;
}



.ant-layout-content {
    display: grid;
    grid-template-columns: .2rem repeat(10, 1fr) .2rem;
    gap: .5rem;
    place-items: center;
    margin: auto;
    background-color: #eee;

    @media (min-width: 400px) {
      gap: 1rem;
      grid-template-columns: repeat(12, 1fr);
    }  

    .container {
      background-color: #fff;
      min-height: calc(100vh - 7.5rem);
      width: 100%;
      grid-column-start: 2;
      grid-column-end: 12;      
    }

    .breadcrumb  {
      background-color: #eee;
      color: #999;
      display: grid;
      grid-template-rows: 1fr;
      grid-auto-columns: fit-content(100%);
      gap: 1.3rem;
      padding: 1rem 0;      

      & > span {
        &::after {
          border-color: #999;
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-width: 0 1px 1px 0;
          border-style: solid;
          transform: translate(50%, 88%) rotate(-45deg);
        }
        grid-row-start: 1;
        display: none;

        &:last-of-type {
          font-weight: 600;
          color: #999;
          &::after {
            display: none;
          }
        }

        @media (min-width: 700px) {
          display: inline-block;
        }
      }

      .separator {
        border-color: #999;
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-width: 0 1px 1px 0;
        border-style: solid;
        transform: translate(50%, 60%) rotate(-45deg);
      }  
    }
  }